flow_3.json
[
    {
        "id": "da3f7bf2d06eefe3",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "db10e77293c230a4",
        "type": "inject",
        "z": "da3f7bf2d06eefe3",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Texto de prueba para el grupo 7",
        "payloadType": "str",
        "x": 270,
        "y": 100,
        "wires": [
            [
                "faa76ac3acf697f5"
            ]
        ]
    },
    {
        "id": "dfd7c65335f5d63a",
        "type": "inject",
        "z": "da3f7bf2d06eefe3",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 270,
        "y": 160,
        "wires": [
            [
                "fb681766fa5cba87",
                "96404baf9b42f5e8"
            ]
        ]
    },
    {
        "id": "4fdfc6e8205453ef",
        "type": "inject",
        "z": "da3f7bf2d06eefe3",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "5",
        "payloadType": "num",
        "x": 270,
        "y": 220,
        "wires": [
            [
                "fb681766fa5cba87",
                "96404baf9b42f5e8"
            ]
        ]
    },
    {
        "id": "eb92d28a5ba4bf38",
        "type": "inject",
        "z": "da3f7bf2d06eefe3",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "10",
        "payloadType": "num",
        "x": 270,
        "y": 280,
        "wires": [
            [
                "fb681766fa5cba87",
                "96404baf9b42f5e8"
            ]
        ]
    },
    {
        "id": "faa76ac3acf697f5",
        "type": "ui_text",
        "z": "da3f7bf2d06eefe3",
        "group": "0c23c0b7ccd22126",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Texto de prueba - label",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 640,
        "y": 100,
        "wires": []
    },
    {
        "id": "fb681766fa5cba87",
        "type": "ui_gauge",
        "z": "da3f7bf2d06eefe3",
        "name": "",
        "group": "24be17dbee45dd4b",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 590,
        "y": 160,
        "wires": []
    },
    {
        "id": "96404baf9b42f5e8",
        "type": "ui_chart",
        "z": "da3f7bf2d06eefe3",
        "name": "",
        "group": "24be17dbee45dd4b",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "10",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 590,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "0c23c0b7ccd22126",
        "type": "ui_group",
        "name": "Texto - Group 1",
        "tab": "2d0fe45ebbb37b94",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "24be17dbee45dd4b",
        "type": "ui_group",
        "name": "Graficos - Group 2",
        "tab": "2d0fe45ebbb37b94",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "2d0fe45ebbb37b94",
        "type": "ui_tab",
        "name": "Flow3 G7 - tab",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    }
]